
@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    @section Buttons{
        <a href="#tinTuc" class="header-item">Contact us</a>
        <a href="#veChungToi" class="header-item">Why choose us</a>
        <a href="#giaTriCotLoi" class="header-item">About us</a>
        <a href="#doiTac" class="header-item">Best Seller</a>
        <a href="#header" class="header-item">Trang chủ</a>

    }

    @section Login{
        <li class="user-info-item">
            <a asp-controller="Login">Đăng nhập</a>
        </li>
    }

}

