@model Overview;

<!DOCTYPE html>
<html>
<!--phần đầu-->
<head>
    <title>LeMinhHa-Tổng quan</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="trangchinh.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/2f8895050a.js" crossorigin="anonymous"></script>
    <style>
        .list-group.item1 {
            background-color: #001F54;
            color: #FEFCFB !important;
        }
    </style>
</head>
<body>
          <div class="main-part">
            <div class="statistical">
                <div class="statistical part one">
                    <div class="Iconly">
                        <div class="icon">
                            <i class="fa-solid fa-bed-pulse"></i>
                        </div>
                        <div id="title-number">
                            <div id="number">
                                @Model.total_room 
                            </div>
                            TỔNG SỐ PHÒNG MỔ
                        </div>
                    </div>
                </div>
                <div class="statistical part two">
                    <div class="Iconly">
                        <div class="icon">
                            <i class="fa-solid fa-hospital-user"></i>
                        </div>
                        <div id="title-number">
                            <div id="number">
                                 @Model.total_patient 
                            </div>
                            BỆNH NHÂN
                        </div>
                    </div>
                </div>
                <div class="statistical part three">
                    <div class="Iconly">
                        <div class="icon">
                            <i class="fa-solid fa-user-doctor"></i>
                        </div>
                        <div id="title-number">
                            <div id="number">
                                @Model.total_staff
                            </div>
                            BÁC SĨ
                        </div>
                    </div>
                </div>
            </div>
            <div class="upcoming statis">
                Ca mổ sắp tới
                <div class="upcoming dropbox"> <a class="upcoming view all" asp-action="Patient"> View all > </a> </div>
                <div class="upcoming-table">
                    <table class="upcoming table">
                        <tr>
                            <td>
                                <div class="table-side-name">
                                    12:03, T12
                                </div>
                                <div class="table-up-name">
                                    NGUYỄN VĂN A
                                </div>
                                <div class="table-down-name">
                                    24-Nam
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-side-name">
                                    17:03, B12
                                </div>
                                <div class="table-up-name">
                                    NGUYỄN THỊ A
                                </div>
                                <div class="table-down-name">
                                    34-Nữ
                                </div>
                            </td>
                        </tr>
                        <tr></tr>
                    </table>
                </div>
            </div>
            <div class="finace patient statis">
                <div class="finace chart">
                    <p>Thu chi</p>
                    <div class="finace-dropbox">
                        <input type="date" id="finace" name="birthday">
                    </div>
                    <div class="finace-statis">
                        <div class="mypiechart">
                            <canvas id="myPieChart">
                                <script>
                                    var ctx = document.getElementById('myPieChart').getContext('2d');
                                    var data = {
                                        labels: ['Khoản thu', 'Khoản chi'],
                                        datasets: [{
                                            data: [50, 20],
                                            backgroundColor: ['#facc15', '#14b8a6']
                                        }]
                                    };
                                    var myPieChart = new Chart(ctx, {
                                        type: 'pie',
                                        data: data
                                    });
                                </script>
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="patient-chart">
                    <p>Bệnh nhân</p>
                    <div class="patient-dropbox">
                        <input type="date" id="patient" name="birthday">
                    </div>
                    <div class="patient-statis">
                        <div class="mydonutchart">
                            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                            <script>
                                const xValues = ["Từ 0 đến 20 tuổi", "Từ 20 đến 45 tuổi", "Từ 45 tuổi trở lên"];
                                const yValues = [55, 49, 44];
                                const barColors = [
                                    "#b91d47",
                                    "#00aba9",
                                    "#2b5797",
                                    "#e8c3b9",
                                    "#1e7145"
                                ];
                                new Chart("myChart", {
                                    type: "doughnut",
                                    data: {
                                        labels: xValues,
                                        datasets: [{
                                            backgroundColor: barColors,
                                            data: yValues
                                        }]
                                    },
                                    options: {
                                        title: {
                                            display: true,
                                            text: "Phân loại bệnh nhân"
                                        }
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="doctor statis">
                Bác sĩ trực ca
                <div class="doctor dropbox"> <a class="doctor view all" asp-action="Staff"> View all > </a> </div>
                <div class="upcoming-table">
                    <table class="upcoming table">
                        <tr>
                            <td>
                                <div class="table-side-name">
                                    Working
                                    <i class="fa-solid fa-circle-check"></i>
                                </div>
                                <div class="table-up-name">
                                    LÊ THỊ B
                                </div>
                                <div class="table-down-name">
                                    Y tá
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-side-name">
                                    Absent
                                    <i class="fa-regular fa-circle"></i>
                                </div>
                                <div class="table-up-name">
                                    NGUYỄN HOÀNG L
                                </div>
                                <div class="table-down-name">
                                    Bác sĩ
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="table-side-name">
                                    Available
                                    <i class="fa-solid fa-circle"></i>
                                </div>
                                <div class="table-up-name">
                                    NGUYỄN HOÀNG L
                                </div>
                                <div class="table-down-name">
                                    Bác sĩ
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
</body>
</html>